body {background-color:#80CBC4 ; }
.titulos {text-align:center; color:#3498DB; font-family:elephant;}
.parrafos {text-align:center; color:black ;font-family:century;}
#fluor {color:#000099  ; text-align:center;}
